# Network
alias wifiinfo="/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I"

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# VLC
alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'

# iPhone Simulator
alias iphonesimulator="open -a /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
